body{
    font-family: arial, sans-serif;
}



h1{color: rgb(189, 193, 198);
font-size: 24px;
font-weight: 400;
line-height: 28px;

}


ul{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
    

     color: #9aa0a6;
       
        font-size: 12px;
        line-height: 16px;
        padding-left: 9px;
        padding-top: 6px;
        
}

li::first-letter{
    text-transform: capitalize;
}

.weather-app{
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 8px;;
}

.overview{
    margin-bottom: 20px;
}

.weather-temperature img {
margin-right: 10px;
height: 64px;
width: 64px;
}

.weather-temperature strong{
    
color: black;
display: inline;
font-family: "Google Sans", arial, sans-serif;
font-size: 48px;
font-weight: 400;
height: auto;
line-height: 1;
}

.units{
    color: black;
    display: inline-block;
    font-size: 16px;
    line-height: 24px;
    margin-top: 6px;
    padding-left: 6px;
    vertical-align: top;
}

.active{
    color:black;
    cursor: default;
    

}

.active:hover{
    text-decoration: none;

}

.weather-forecast{
    margin-top: 20px;
    text-align: center;
}

.weather-forecast-date{
font-size: 16px;
color: black;
opacity: 0.5;

}
.weather-forecast-temperature-min{

    opacity: 0.5;
}

.weather-forecast-temperatures{
    font-size: 13px;
}

